.ad-details{
    h2{
        font-size: 1.575rem;
    }
    .breadcrumb{
        a,button{
            color: darken($grey, 30%);
        }
        a{
            position: relative;
            top: 1px;
        }
        button{
            padding: 0;
            border: none;
        }
    }
    .details-col{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .category{
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: bold;
        border-bottom: 1px solid $grey;
        i{
            font-size: 1.4em;
        }
        .name{
            background-color: $grey;
            padding: 0.1em 1em;
            border-radius: 3rem;
        }
    }
    .date{
        display: flex;
        justify-content: space-between;
        color: darken($grey, 20%);
    }
    .title{
        font-size: 2em;
        font-weight: bold;
    }
    .region{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1em;
        i{
            color: darken($grey, 20%);
        }
        span{
            padding-left: 0.6em;
        }
    }
    .price{
        font-size: 2em;
        font-weight: bold;
        color: $darken-yellow;
    }
    .user{
        font-size: 1.3em;
        font-weight: bold;
        .name{
            padding-left: 2.2em;
        }
    }
    .first-letter{
        position: relative;
        left: 18px;
        font-weight: bold;
        color: darken($blue, 10%);
        &::after{
            content: "";
            position: absolute;
            top: -13px;
            left: -15px;
            border-radius: 50%;
            background-color: $lighten-blue;
            z-index: -1;
            width: 2.5em;
            height: 2.5em;
        }
    }
    .description{
        hr{
            border-color: $grey;
        }
        p{
            font-size: 1.2em;
        }
    }
    .advertiser{
        .first-letter{
            width: 4em;
            top: 0.8em;
            &::after{
                top: -7px;
                left: -12px;
            }
        }
        font-size: 1em;
        border: 1px solid $grey;
        .ads-count{
            color: $darken-yellow;
        }
        .btn-yellow{
            i{
                width: 2em;
            }
        }
    }
    .favorites{
        .btn{
            padding: 0;
            .fas{
                color: #ce2b37;
            }
        }
    }
    .slick-carousel{
        .img-revisor{
            position: relative;
            &::after{
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.623);
            }
        }
        @media screen and (max-width: 767px){
            .img-revisor{
                &::after{
                    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.781));
                }
            }
        }
        .pic{
            position: relative;
            .capt{
                position: absolute;
                color: white;
                left: 0;
                &.bottom{
                    bottom: 0;
                }
                &.top{
                    top: 0;
                    .bar{
                        display: flex;
                        align-items: center;
                        .progress{
                            width: 150px;
                            height: 11px;
                        }
                    }
                    .label{
                        width: 56px;
                        font-size: 11px;
                        &.warning{
                            color: yellow;
                        }
                    }
                }
            }
            @media screen and (max-width: 767px){
                .capt{
                    &.top{
                        display: none;
                    }
                    &.bottom{
                        font-size: 11px;
                    }
                }
            }
        }
    }
    #contact-form{
        border: 1px solid $grey;
        border-radius: $borderRadius;
        display: none;
        &.show{
            display: block;
        }
    }
}