.admin-dashboard{
    .table{
        display: flex;
        flex-direction: column;
        border-top: 1px solid $black;
        border-left: 1px solid $black;
        border-right: 1px solid $black;
        .head{
            font-weight: bold;
            color: $white;
            background-color: $blue;
        }
        .table-row{
            display: flex;
            height: 2.6em;
            text-align: center;
            align-items: center;
            border-bottom: 1px solid $black;
            .table-col{
                flex-basis: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow-x: hidden;
            }
        }
        .btn{
            &:hover{
                color: lighten($blue, 10%);
            }
            &:active{
                color: darken($blue, 10%);
            }
        }
    }
}