.btn:focus{
    box-shadow: none;
}

@media screen and (min-width: 992px){
    .btn-yellow{
        &:hover{
            background-color: lighten($yellow,10%);
            transition: $transTime;
        }
    }
    .btn-blue{
        &:hover{
            background-color: lighten($blue,10%);
            transition: $transTime;
        }
    }
}

.btn-yellow{
    white-space: nowrap;
    background-color: $yellow;
    border: none;
    color: $black;
    transition: $transTime;
    &:active{
        background-color: darken($yellow,15%);
    }
    &:hover{
        color: $black;
    }
}

.btn-blue{
    background-color: $blue;
    border: none;
    color: $white;
    transition: $transTime;
    &:active{
        background-color: darken($blue,15%);
        color: $white;
    }
    &:hover{
        color: $white;
    }
}