.chat{
    .chat-box{
        border-radius: $borderRadius;
        border: 1px solid $grey;
        height: calc(100vh - 204px);
        @media screen and (max-width: 991px){
            height: calc(100vh - 145px);
        }
        @media screen and (max-width: 767px){
            height: auto;
            .list .contact:nth-last-child(1){
                border: none;
            }
        }
        @media screen and (max-width: 575px){
            border-left: none;
            border-right: none;
            border-radius: 0;
        }
        overflow: hidden;
        .list{
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            height: inherit;
            .contact{
                cursor: pointer;
                border-bottom: 1px solid $grey;
                .image{
                    align-self: center;
                }
                .name,.title,.date{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .name{
                    font-size: 1.2em;
                }
                &:hover .name{
                    text-decoration: underline;
                }
                .title,.date{
                    font-size: 0.9em;
                }
                &.active{
                    background-color: darken($white, 3%);
                    .name{
                        font-weight: bold;
                    }
                }
            }
        }
        .chat-window{
            height: inherit;
            .messages{
                height: inherit;
                flex-direction: column;
                display: none;
                .head{
                    border-left: 1px solid $grey;
                    border-bottom: 1px solid $grey;
                    font-weight: bold;
                    font-size: 1.2em;
                    background-color: $white;
                    .username-head{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                .content{
                    flex-grow: 1;
                    border-left: 1px solid $grey;
                    border-bottom: 1px solid $grey;
                    overflow-y: scroll;
                    background-color: darken($white, 3%);
                    display: flex;
                    flex-direction: column;
                    .you,.other{
                        margin: 0.3em 1em;
                        padding: 0.3em 1em;
                        border: 1px solid $grey;
                        max-width: 65%;
                        font-size: 1.1em;
                    }
                    .you{
                        background-color: darken($white, 7%);
                        border-radius: $borderRadius * 2 $borderRadius * 2 0  $borderRadius * 2;
                        margin-left: auto;
                    }
                    .other{
                        background-color: $white;
                        border-radius: $borderRadius * 2 $borderRadius * 2 $borderRadius * 2 0;
                        margin-right: auto;
                    }
                }
                .input-text-box{
                    border-left: 1px solid $grey;
                    background-color: $white;
                    display: flex;
                    .textarea{
                        max-width: 88%;
                        min-width: 88%;
                        @media screen and (max-width: 575px){
                            max-width: 80%;
                            min-width: 80%;
                        }
                        outline: none;
                        align-self: center;
                        color: $black;
                        &:empty::before{
                            content: attr(placeholder);
                            display: block;
                            color: lighten($black, 40%);
                        }
                    }
                    button{
                        width: 12%;
                        @media screen and (max-width: 575px){
                            width: 20%;
                        }
                        align-self: center;
                        justify-self: center;
                    }
                }
                .info{
                    display: flex;
                    justify-content: flex-end;
                    .text{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        overflow: hidden;
                        white-space: nowrap;
                        .title-head{
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .price{
                            color: $darken-yellow;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                    img{
                        width: 20%;
                        height: 20%;
                        align-self: center;
                    }
                }
                &.active{
                    display: flex;
                }
            }
            @media screen and (max-width: 767px){
                transition: $transTime;
                visibility: hidden;
                position: fixed;
                top: 0;
                left: -100vw;
                height: 100%;
                max-width: 100%;
                z-index: $zIndexMain;
                &.show-on-smartphone{
                    visibility: visible;
                    left: 0;
                    transition: $transTime;
                    .messages{
                        .head,.content,.input-text-box{
                            border-left: none;
                        }
                    }
                }
            }
        }
        img{
            background-color: $white;
        }
    }
    .chat-close{
        font-size: 1.5em;
        margin-left: 0.7em;
    }
}