.dashboard{
    .btn-yellow{
        font-size: 1.2em;
    }
    .top-bar{
        background-color: lighten($grey, 12%);
        font-weight: bold;
        color: darken($blue, 10%);
        .total{
            color: $darken-yellow;
        }
    }
    .ad-list{
        a,.btn{
            color: $black;
            text-decoration: none;
        }
        .ad{
            border: 1px solid $grey;
            border-radius: $borderRadius;
            .image{
                border: 1px solid $grey;
            }
            .price{
                color: $darken-yellow;
                font-weight: bold;
            }
            &:nth-child(even){
                background-color: lighten($grey, 12%);
            }
            .date{
                color: darken($grey, 20%);
                font-size: 0.8em;
            }
            @media screen and(max-width: 991px){
                &{
                    border: none;
                    border-radius: 0;
                }
            }
            .last{
                height: 100%;
                display: flex;
                align-items: flex-end;
                .btn{
                    color: darken($blue, 20%);
                    transition: none;
                    &:hover{
                        color: lighten($blue, 20%);
                        transition: none;
                    }
                }
            }
            overflow: hidden;
            max-height: 262px;
            &.deleted{
                visibility: hidden;
                max-height: 0;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                margin-bottom: 0 !important;
                transition: $transTime;
                opacity: 0;
            }
        }
    }
}