.dropzone{
    .dz-preview{
        transition: $transTime;
        background-color: transparent;
        &.dz-image-preview{
            background-color: inherit;
        }
        & .dz-image{
            border-radius: $borderRadius;
            img{
                transition: $transTime;
            }
        }
        &:hover{
            & .dz-image{
                img{
                    transition: $transTime;
                    filter: opacity(0.1);
                }
            }
        }
        & .dz-error-message{
            top: 7px;
            left: 0;
            width: auto;
            background: #c13a3ae3;
            &::after{
                border-bottom-color: #c13a3ae3;
            }
        }
    }
}