%bar {
    position: fixed;
    height: 100%;
    bottom: -100%;
    left:0;
    background-color: $white;
    transition: $transTime;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

#footbar{
    @extend %bar;
    z-index: $zIndexMain;
    .btn{
        font-size: 18px;
    }
    .left{
        border-right: 0;
    }
    .right{
        border-left: 0;
    }
    .content{
        overflow:auto;
    }
    &.active{
        transform: translateY(-100%);
        visibility: visible;
    }
    select{
        appearance: none;
    }
}

#footbar-close{
    transform: translate(-50%,50%);
}