.form-control{
    color: $black;
    background-color: $white;
    &:focus{
        background-color: inherit;
        box-shadow: none;
        border-color: $grey;
    }
}

.input-group,.index-card,.form-control,.dropzone{
    background-color: $white;
    border: 1px solid $grey;
    border-radius: $borderRadius;
    transition: $transTime;
    &:hover{
        border: 1px solid darken($grey, 20%);
        transition: $transTime;
    }
}

.input-group-text{
    color: $black;
    background-color: $white;
    border: none;
}