*{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: $white;
    color: $black;
    &.no-scroll{
        overflow-y: hidden;
    }
}

.preload{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

@media screen and (max-width: 991px){
    .page{
        margin-top: $navbar-height-smartphone;
    }
}

span.logo{
    font-family: 'Share', cursive;
    font-style: italic;
    font-size: 2.25rem;
    white-space: nowrap;
}

#bg-layer{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    transition: $transTime;
    z-index: $zIndexMain - 1;
    visibility: hidden;
    &.active{
        transition: $transTime;
        visibility: visible;
        opacity: 0.7;
    }
}

.bg-yellow{
    background-color: $yellow;
}

.bg-white-dom{
    &:active{
        background-color: $lighten-blue;
    }
}

.pointer{
    cursor: pointer;
    select{
        cursor: inherit;
    }
}

.breadcrumb{
    background-color: $white;
    a{
        color: darken($grey, 20%);
    }
}

figure{
    margin-bottom: 0;
}

.auth-title{
    font-size: 1.5rem;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}