.navbar{
    background-color: $white;
    z-index: 25;
    .smartphone{
        display: flex;
        width: 100%;
        justify-content: space-between;
        .btn{
            border-radius: 0;
            width: 20%;
            color: $grey;
            border: none;
            i{
                font-size: 15px;
                align-self: center;
            }
            span{
                display: block;
                font-size:10px;
                align-self: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &:active{
                color: $black;
            }
        }
        .active{
            color: $black;
        }
    }
    .laptop{
        .usermenu{
            .ico{
                width: 1.6em;
            }
            margin-right: 20px;
            width: 208px;
            position: relative;
            .usermenu-btn{
                height: 100%;
                border: 1px solid $grey;
                border-radius: $borderRadius;
                span{
                    flex-grow: 1;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            .dropmenu{
                width: 100%;
                background-color: $white;
                overflow: hidden;
                border: 1px solid $grey;
                border-top: none;
                border-bottom: none;
                border-radius: 0 0 $borderRadius $borderRadius;
                visibility: hidden;
                position: absolute;
                top: 35px;
                max-height: 0;
                transition-property: max-height;
                transition: $transTime / 2;
                div{
                    a{
                        padding: 0.5em 0;
                        display: block;
                        text-decoration: none;
                        color: $black;
                        span{
                            font-weight: normal;
                        }
                    }
                    &:hover{
                        background-color: lighten($grey, 12%);
                    }
                }  
            }
            &:hover{
                cursor: pointer;
                .dropmenu{
                    visibility: visible;
                    border-bottom: 1px solid $grey;
                    max-height: 208px;
                    transition-property: max-height;
                    transition: $transTime;
                }
            }
        }
        .set-locale{
            cursor: pointer;
            margin-left: 20px;
            align-self: center;
            position: relative;
            .dropdown{
                display: flex;
                flex-direction: column;
                visibility: hidden;
                background-color: $white;
                position: absolute;
                overflow: hidden;
                transition: 0.3s;
                max-height: 0px;
                .flag-icon{
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0);
                        transition: $transTime;
                    }
                    &:hover{
                        &::after{
                            background: rgba(0, 0, 0, 0.13);
                            transition: $transTime;
                        }
                    }
                }
                &.active{
                    visibility: visible;
                    max-height: 41px;
                    transition: $transTime;
                }
            }
        }
        i{
            font-size: 16px;
        }
        span:not(.flag-icon){
            font-size: 1.2em;
        }
        .nav-link{
            color: $black;
            transition: none;
            &:hover{
                color: $black;
                text-decoration: underline;
                transition: none;
            }
        }
        .revisor-admin-btn{
            margin-left: 20px;
            a{
                display: flex;
                .counter{
                    font-family: monospace;
                    background-color: $yellow;
                    color: $black;
                    align-self: center;
                    padding: 0 5px;
                }
                i{
                    line-height: unset;
                }
            }
        }
    }
}

@media screen and (max-width: 991px){
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $navbar-height-smartphone;
        transition: $transTime;
        &.hide{
            top: - $navbar-height-smartphone;
            transition: $transTime;
        }
    }
}