.search-results{
    .query{
        font-size: 0.9rem;
        font-weight: bold;
        margin-bottom: 0;
        line-height: 1.5em;
    }
    .header{
        background-color: lighten($grey, 12%);
        border-radius: $borderRadius;
        font-weight: bold;
        color: darken($blue, 10%);
        .number{
            color: $darken-yellow;
        }
        @media screen and (max-width: 991px){
            border-radius: initial;
        }
    }
    .box{
        position: relative;
        border-radius: $borderRadius;
        border: 1px solid $grey;
        transition: $transTime;
        &:hover .title{
            text-decoration: underline;
            @media screen and (max-width: 991px){
                text-decoration: none;
            }
        }
        &:nth-child(odd){
            background-color: lighten($grey, 12%);
        }
        @media screen and (max-width: 991px){
            border-radius: initial;
            border: none;
        }
        @media screen and (min-width: 992px){
            &:hover{
                transition: $transTime;
                border: 1px solid darken($grey, 20%)
            }
        }
        .favorites{
            position: absolute;
            top: 1em;
            right: 1em;
            .btn{
                font-size: 1.5em;
                padding: 0;
                .fas{
                    color: #ce2b37;
                }
            }
        }
    }
    .image{
        border: 1px solid $grey;
        background-color: $white;
    }
    a{
        color: $black;
        text-decoration: none;
        @media screen and (max-width: 991px){
            &:active {
                &::after{
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: transparentize($blue, 0.5);
                }
            }
        }
    }
    .price{
        color: $darken-yellow;
        font-size: 1.4em;
        margin: 0;
        @media screen and (max-width: 767px){
            font-size: 1.2em;
        }
    }
    .infos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .category{
        margin: 0;
    }
    .title{
        font-size: 1.5em;
        @media screen and (max-width: 767px){
            font-size: 1.2em;
        }
    }
    .info{
        font-weight: bold;
        color: darken($grey, 30%);
        margin-bottom: 0;
        @media screen and (max-width: 767px){
            font-size: 0.9em;
        }
    }
    .pagination{
        overflow: hidden;
        justify-content: center;
        margin: 1em 0;
        .page-link{
            background-color: lighten($grey, 12%);
            border-color: $grey;
            color: $grey;
            &:focus{
                box-shadow: none;
            }
            &:hover{
                background-color: lighten($grey, 5%);
                color: lighten($black, 20%);
            }
            &:active{
                color: lighten($black, 5%);
                background-color: $grey;
            }
        }
        .page-item.active .page-link{
            color: $black;
        }
    }
}