#sidebar{
    height: 100%;
    background-color: $white;
    position: fixed;
    top: 0;
    right: -$sidebar-width;
    width: $sidebar-width;
    transition: $transTime;
    z-index: $zIndexMain;
    visibility: hidden;
    .container{
        display: flex;
        flex-direction: column;
        height: inherit;
    }
    .username{
        max-width: $sidebar-width - 50;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .btn{
        background-color: $blue;
    }
    a{
        text-decoration: none;
        color: $black;
        font-size: 1.4em;
        i{
            width: 30px;
        }
        span{
            border-radius: $borderRadius - 0.1rem;
        }
    }
    &.active{
        visibility: visible;
        transform: translateX(-$sidebar-width);
    }
    .button{
        position: absolute;
        top: 1em;
        right: 1.3em;
        z-index: 1090;
    }
    .counter{
        color: $white;
        font-family: monospace;
        background-color: #fb3838;
        padding: 0 3px;

    }
    #sidebar-content{
        justify-content: center;
        flex-grow: 1;
        white-space: nowrap;
        line-height: 2.2;    
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    #sidebar-footer{
        margin-bottom: 1.5em;
        text-align: center;
        p,a{
            font-size: 15px;
        }
        .btn{
            font-size: 18px;
        }
        a{
            color: $blue;
        }
        .auth{
            position: absolute;
            left: 23px;
            bottom: 0;
            a{
                i{
                    width: 40px;
                    text-align: left;
                }
                font-size: 1.4em;
                color: $black;
                text-align: left;
                width: 212px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .sidebar-lang{
        margin-bottom: 1em;
        display: flex;
        justify-content: space-around;
        a{
            line-height: 0;
            transition: $transTime / 2;
        }
        .flag-icon{
            filter: grayscale(0.8);
            transition: $transTime / 2;
            &:active{
                transform: scale(0.8);
                transition: $transTime / 2;
            }
        }
        .active{
            filter: grayscale(0);
            transition: $transTime;
            box-shadow: 0 0 0 3px darken($yellow, 20%);
        }
    }
}