.slick-carousel{
    .fas{
        line-height: inherit;
    }
    .fa-arrow-left,.fa-arrow-right{
        position: absolute;
        top: 50%;
        z-index: 1;
        font-size: 2em;
        transform: translateY(-50%);
        color: $white;
        transition: $transTime;
        &::after{
            content: "";
            width: 1.8em;
            height: 1.8em;
            background-color: $black;
            position: absolute;
            top: -3px;
            left: 0;
            z-index: -1;
            border-radius: 50%;
            opacity: 0.7;
            transform: translateX(-25%);
        }
        &:hover{
            opacity: 0.8;
            cursor: pointer;
        }
        &:active{
            opacity: 0.4;
        }
    }
    .fa-arrow-left{
        left: 0.8em;
    }
    .fa-arrow-right{
        right: 0.8em;
    }
}