$transTime: 0.3s;
$sidebar-width: 250px;
$zIndexMain: 1090;
$borderRadius: 0.3rem;
$navbar-height-smartphone : 48px;

// Colors
$white: #fcfcfc;
$yellow: #f1e4a7;
$darken-yellow: darken($yellow, 47%);
$blue: #5152A6;
$lighten-blue: lighten($blue, 30%);
$grey: #ced4da;
$black: #292929;