.title{
    font-size: 2em;
}

.last{
    font-size: 1.6rem;
    @media screen and (max-width: 767px){
        font-size: 1rem;
    }
}

.fake-search-btn{
    display: flex;
    justify-content: space-between;
    i{
        align-self: center;
    }
}

.searchbar{
    border-radius: $borderRadius;
    >div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    button{
        width: 8em;
        font-size: 21px;
    }
}

.index-card{
    transition: $transTime / 4;
    &:hover{
        transition: $transTime / 2;
    }
}

.last-ads{
    img{
        border-radius: $borderRadius - 0.1rem $borderRadius - 0.1rem 0 0;
    }
    a{
        text-decoration: none;
    }
    .card{
        border-radius: $borderRadius;
        background-color: $white;
    }
    .card-body{
        height: 52px;
        padding: 0.45rem 0.85rem;
    }
    .card-title,.card-text{
        overflow:hidden;
        white-space:nowrap;
        margin-bottom: 0.05rem;
        text-overflow: ellipsis;
    }
    .card-title{
        font-weight:bold;
        font-size: 0.925rem;
        color: $black;
    }
    .card-text{
        color: darken($grey, 40%);
    }
    .card-img-top{
        position: relative;
    }
    .price{
        bottom: 0.7em;
        left: 0.9em;
        background-color: rgba(0, 0, 0, 0.719);
        color: $white;
        padding: 0.1em 0.2em;
        font-size: 0.8rem;
        line-height: normal;
    }
    .ad-window{
        position: relative;
        .commands{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: linear-gradient(#0000005c, rgba(0, 0, 0, 0));
            opacity: 0;
            transition: $transTime / 2;
            border-radius: $borderRadius $borderRadius 0 0;
            .action{
                margin: 0;
                &:hover{
                    &:first-child{
                        border-radius: $borderRadius $borderRadius 0 0;
                    }
                    border-radius: 0;
                    background: rgba(0, 0, 0, 0.2);
                }
            }
        }
        &:hover{
            .commands{
                opacity: 1;
                transition: $transTime / 2;
            }
        }
        .btn{
            color: white;
            width: 100%;
            text-shadow: 0 0 3px #000000b3;
            display: flex;
            align-items: center;
            .icon{
                width: 1.5em;
                text-align: left;
            }
            span{
                font-family: 'Open Sans', sans-serif; 
            }
        }
    }
}

@media screen and (max-width: 991px){
    .index-card:hover{
        border: 1px solid $grey;
    }
    .ad-link:active .card::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparentize($blue, 0.5);
    }
    .last-ads{
        %font-size {
            font-size: 0.9em;
        }
        .card-body{
            h5,p{
                @extend %font-size;
            }
        }
        .card-img-top{
            .price{
                @extend %font-size;
            }
        }
    }
}

@media screen and (max-width: 767px){
    .last-ads{
        .date{
            display: none;
        }
    }
}